"*":
  "exception-reporting":
    userId: "ee76ea4a-2966-ee49-64c1-527c75005cb1"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    disabledPackages: [
      "language-javascript-jsx"
      "jshint"
    ]
    projectHome: "~/Projects"
  editor:
    invisibles: {}
  react: {}
  "vim-mode":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  jshint:
    supportLintingJsx: true
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
