"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    showIndentGuide: true
    invisibles:
      {}
  core:
    audioBeep: false
    disabledPackages: [
      "language-javascript-jsx"
      "jshint"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "go-plus":
    {}
  "vim-mode":
    useSmartcaseForSearch: true
  linter:
    {}
